
.opacidad:hover{
  opacity: 0.8;
}
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0,123,255,0);
}
.active{
  background-color: beige !important;
 border-color: beige !important;
 color: black;
}
